@import './base.css';

:root {
  --themeColor: #ccc; /* color-contrast is unable to use right now*/
  --fontColor: black; /* color-contrast(var(--themeColor) vs white, black) */
}

body {
  padding: 0px;
  font-family: Tahoma, Geneva, sans-serif;
  -webkit-text-size-adjust: none;
  background-size: cover;
  background-color: var(--themeColor);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#app {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: auto;
  text-align: center;
}